/* Global Styles
------------------------------------------------------------ */
header, .desc-project, 
.nav-project, h1, h2, ul { 
    background-color: #BFD7EA;
    color: #082120; 
}

a:link, a:visited { color: #CD5252; }

a:hover { color: #B2FFFF; }

/* Body
------------------------------------------------------------ */

body { background-color: #1A5782;}

/* Footer
------------------------------------------------------------ */

.copyright { color: #BFD7EA; }

