.nav-main { background-color: #BFD7EA; }

body { background-color: #1A5782;}

.heading-page,
.heading-project,
.desc-project,
.nav-project,
.nav-contact,
ul { 
    background-color: #BFD7EA;
    color: #082120; 
}

footer { color: #BFD7EA}

a:link, 
a:visited { color: #CD5252; }

a:hover { color: #B2FFFF; }