/* <Body> */
.centerColumn {
    width: 50%;
    margin: 0px auto;
}
/* </Body> */

/* Headings */
.heading-page, 
.heading-project, 
.desc-project { padding: 15px 25px; }
/* </Headings> */

/* <Navigation> */
.nav-main {
    width: 20%;
    margin: 0 2.5%;
    overflow: hidden;
    position: fixed;
}

.nav-main nav {
    display: flex;
    flex-direction: column;
}

.nav-main nav a {
    padding: 15px 25px;
    margin: 0 auto;
    display: block;
}

.nav-project {
    display: flex;
    flex-direction: row-reverse;
}

.nav-project a {
    padding: 15px 25px;
    display: block;
}

.nav-contact {
    display: flex;
    flex-direction: column;
}

.nav-contact a {
    padding: 15px 25px;
    margin: 0 auto;
    display: block;
}
/* </Navigation> */

/* <Media> */
picture, iframe {
    display: block;
}
/* </Media> */

/* For Mobile devices */
@media screen and (max-width: 1200px) {
    
    .nav-main { 
        top: 0;
        position: sticky; 
    }

    .nav-main, .centerColumn { 
        width: 95%;
        margin: 0px 2.5%; 
    }

    .nav-main nav { flex-direction: row; }
} 