/* <Body> */
.centerColumn {
    width: 50%;
    margin: 0px auto;
}
/* </Body> */

/* Headings */
.heading-page, 
.heading-project, 
.desc-project { padding: 15px 25px; }
/* </Headings> */

/* <Navigation> */
.nav-main {
    width: 20%;
    margin: 2.5%;
    overflow: hidden;
    position: fixed;
}

.nav-main a {
    width: 33.3%;
    padding: 15px 0px;
    margin: 0 auto;
    display: block;
}

.nav-project {
    padding: 15px 0px 15px 25px;
    display: flex;
    flex-direction: row-reverse;
}

.nav-project a {
    padding: 0px 25px;
    display: block;
}

.nav-project a:link, 
.nav-main a:link, 
.nav-project a:visited, 
.nav-main a:visited { color:midnightblue; }

.nav-project a:hover, 
.nav-main a:hover { color: lightseagreen; }
/* </Navigation> */

/* <Media> */
picture, iframe {
    margin: 10px 0px;
    display: block;
}
/* </Media> */

/* For Mobile devices */
@media screen and (max-width: 1200px) {
    
    .nav-main { 
        top: 0;
        position: sticky; 
    }

    .nav-main, .centerColumn { 
        width: 95%;
        margin: 0px 25px; 
    }

    .nav-main a { float: left; }
} 