/* <Body> */
.desc-project {
    font-family: 'PMNCaeciliaSans Text Lt';
    font-size: 1rem;
    text-decoration: none;
    text-align: justify;
}
/* </Body> */

/* <Headings> */
.heading-nav-main, 
.heading-page {
    font-family: 'Tinos Regular';
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

.heading-project {
    font-family: 'Tinos Regular';
    font-size: 1.25rem;
    text-decoration: none;
    text-align: left;
}
/* </Headings> */

/* <Navigation> */
.nav-main nav a {
    font-family: 'PMNCaeciliaSans Text Hv';
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

.nav-project a {
    font-family: 'PMNCaeciliaSans Text Hv';
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

.nav-contact a {
    font-family: 'PMNCaeciliaSans Text Hv';
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}
/* </Navigation> */

@media only screen and (orientation:landscape) {
    .heading-nav-main, 
    .heading-page { font-size: 2rem; }

    .heading-project {font-size: 1.625rem;}

    .desc-project { font-size: 1.0625rem;}
}

@media only screen and (orientation:landscape) and (min-width:1600px) {
    .heading-nav-main, 
    .heading-page { font-size: 3rem; }

    .heading-project { font-size: 2rem; }

    .desc-project { font-size: 1.125rem;}

    .nav-main nav a, 
    .nav-project a, 
    .nav-contact a { font-size: 1.25rem; }
}
/* <Tinos> */
@font-face {
    font-family: 'Tinos Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Regular'), url("fonts/Tinos/Tinos-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Tinos Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Bold'), url("fonts/Tinos/Tinos-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Tinos Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Italic'), url("fonts/Tinos/Tinos-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Tinos Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Bold Italic'), url("fonts/Tinos/Tinos-BoldItalic.ttf") format('truetype');
}
/* </Tinos> */

/* <PMN Caecilia Sans Text> */
@font-face {
    font-family: 'PMNCaeciliaSans Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Regular'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextRg.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextRgIt.woff') format('woff');
}
   
@font-face {
    font-family: 'PMNCaeciliaSans Text Th';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Th'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextTh.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Th Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Th Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextThIt.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Lt';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Lt'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextLight.woff') format('woff');
}

@font-face {
    font-family: 'PMNCaeciliaSans Text Lt Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Lt Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextLightIt.woff') format('woff');
}

@font-face {
    font-family: 'PMNCaeciliaSans Text Bd';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Bd'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextBd.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Bd Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Bd Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextBdIt.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Hv';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Hv'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextHv.woff') format('woff');
}

@font-face {
    font-family: 'PMNCaeciliaSans Text Hv Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Hv Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextHvIt.woff') format('woff');
}
/* </PMN Caecilia Sans Text> */