/* Global Styles
------------------------------------------------------------ */
body { line-height: 1.5; }

b { font-family: 'PMNCaeciliaSans Text Bd'; }

i { font-family: 'PMNCaeciliaSans Text Lt Italic'; }

.bi { font-family: 'PMNCaeciliaSans Text Bd Italic'; }

h1 {
    font-family: 'Tinos Regular';
    font-size: 1.5rem;
    text-decoration: none;
    text-align: center;
}

h2 {
    font-family: 'Tinos Regular';
    font-size: 1.25rem;
    text-decoration: none;
    text-align: left;
}

ul {
    list-style-type: disc;
    list-style-position: outside;
    font-family: 'PMNCaeciliaSans Text Lt';
    font-size: 1rem;
    text-decoration: none;
    text-align: left;
}

a {
    font-family: 'PMNCaeciliaSans Text Hv';
    font-size: 1rem;
    text-decoration: none;
    text-align: center;
}

/* Header
------------------------------------------------------------ */

.menu a { font-size: 1rem; }

/* Body
------------------------------------------------------------ */

.desc-project {
    font-family: 'PMNCaeciliaSans Text Lt';
    font-size: 0.75rem;
    text-decoration: none;
    text-align: left;
}

.box { 
    font-family: 'PMNCaeciliaSans Text Lt';
    font-size: 0.675rem;
    text-decoration: none;
}

.flex-container ul, .dynamic-flex ul {
    font-family: 'PMNCaeciliaSans Text Lt';
    font-size: 0.675rem;
    text-decoration: none;
}


/* Footer
------------------------------------------------------------ */

.copyright {
    font-family: 'PMNCaeciliaSans Text Lt';
    font-size: 0.5rem;
    text-align: center;
}

/* Landscape Settings
------------------------------------------------------------ */

@media only screen and (orientation:landscape) {
    h1 { font-size: 2.5rem; }

    h2 { font-size: 1.625rem; }

    .menu a { font-size: 1.25rem; }

    .desc-project, 
    a, ul { font-size: 1rem; }

    .box, .box ul { font-size: 0.75rem }

    footer { font-size: 0.875rem; }
}

@media only screen and (orientation:landscape) and (min-width: 1920px) {
    h1 { font-size: 3rem; }

    h2 { font-size: 2rem; }

    .menu a { font-size: 1.5rem; }

    .desc-project, 
    a, ul { font-size: 1.25rem; }

    .box { font-size: 0.825rem;}

    footer { font-size: 1rem; }
}

/* Tinos Font Family
------------------------------------------------------------ */

@font-face {
    font-family: 'Tinos Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Regular'), url("fonts/Tinos/Tinos-Regular.ttf") format('truetype');
}

@font-face {
    font-family: 'Tinos Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Bold'), url("fonts/Tinos/Tinos-Bold.ttf") format('truetype');
}

@font-face {
    font-family: 'Tinos Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Italic'), url("fonts/Tinos/Tinos-Italic.ttf") format('truetype');
}

@font-face {
    font-family: 'Tinos Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Tinos Bold Italic'), url("fonts/Tinos/Tinos-BoldItalic.ttf") format('truetype');
}

/* PMNCaeciliaSans Text Font Family
------------------------------------------------------------ */

@font-face {
    font-family: 'PMNCaeciliaSans Text Regular';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Regular'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextRg.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextRgIt.woff') format('woff');
}
   
@font-face {
    font-family: 'PMNCaeciliaSans Text Th';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Th'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextTh.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Th Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Th Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextThIt.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Lt';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Lt'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextLight.woff') format('woff');
}

@font-face {
    font-family: 'PMNCaeciliaSans Text Lt Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Lt Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextLightIt.woff') format('woff');
}

@font-face {
    font-family: 'PMNCaeciliaSans Text Bd';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Bd'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextBd.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Bd Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Bd Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextBdIt.woff') format('woff');
}
    
@font-face {
    font-family: 'PMNCaeciliaSans Text Hv';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Hv'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextHv.woff') format('woff');
}

@font-face {
    font-family: 'PMNCaeciliaSans Text Hv Italic';
    font-style: normal;
    font-weight: normal;
    src: local('PMNCaeciliaSans Text Hv Italic'), url('fonts/PMNCaeciliaSansText/PMNCaeciliaSansTextHvIt.woff') format('woff');
}
/* </PMN Caecilia Sans Text> */