/* Variables
------------------------------------------------------------ */

:root {
  --cream: #fcf5e6;
  --darkBlue: #00052b;

  --lightGray: #ddd;
  --darkGray: #333;

  --charcoalGreen: #202c22;
  --fadedViolet: #f4f1f5;

  --puertoRicoRed: #d6111b;
  --puertoRicoBlue: #33b5d5;

  --lilac: #dc9ba3;
  --celeste: #b2ffff;
}

html {
  --themeBackground: white;
  --themePanel: white;
  --themeText: var(--charcoalGreen);
  --themeLink: var(--puertoRicoRed);
  --themeHover: var(--lilac);
}

html[data-theme="dark"] {
  --themeBackground: black;
  --themePanel: black;
  --themeText: var(--fadedViolet);
  --themeLink: var(--puertoRicoBlue);
  --themeHover: var(--celeste);
}

/* Styles
------------------------------------------------------------ */

h1,
h2,
p {
  color: var(--themeText);
}
.centerColumn * {
  background-color: var(--themePanel);
  color: var(--themeText);
}

.link {
  color: var(--themeLink);
  transition: background-color 0.35s ease;
  transition: color 0.35s ease;
}

.link:hover {
  color: var(--themeHover);
}

body {
  background-color: var(--themeBackground);
}

/* horizontal lines */
hr {
  background-color: var(--themeText);
  border-color: var(--themeText);
  color: var(--themeText);
}

.copyright {
  color: var(--themeLink);
}

/* Capsule Background */
.switch-bg {
  background: var(--themeBackground);
  border: 1px solid var(--themeText);
}

/* Circle within the capsule */
.switch-bg:after {
  background: var(--themeLink);
}

.switch-bg:after :hover {
  background: var(--themeHover);
}

input:checked + .switch-bg {
  background: var(--themeBackground);
}

*,
* * {
  transition: background-color 0.35s ease, border-color 0.35s ease,
    color 0.35s ease, border-color 0.35s ease;
}

.round-box {
  border: 1px solid var(--themeText);
}

.project-banner,
.video {
  border: none;
}

.collapsible-box {
  border: 0px solid;
}

.active-box {
  border: 1px solid var(--themeText);
}

.project-title {
  background: var(--themeBackground);
  border: none;
}
