/* Switch
------------------------------------------------------------ */

.switch {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  height: auto;
  margin: 5px auto;
}

.switch * {
  margin: 5px;
  padding: 0px;
  display: block;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  position: absolute;
}

/* Capsule Background */
.switch-bg {
  cursor: pointer;
  width: 2.25rem;
  height: 1.125rem;
  display: block;
  border-radius: 1.125rem;
  position: relative;
  text-overflow: unset;
}

/* Circle within the capsule */
.switch-bg:after {
  content: "";
  position: absolute;
  inset: 0.0375rem 0rem 0rem 0.0375rem;
  width: 0.9rem;
  height: 0.9rem;
  border-radius: 0.9rem;
  transition: 0.3s;
}

input:checked + .switch-bg:after {
  left: calc(100% - 0.0375rem);
  transform: translateX(-107.5%);
}

/* Media queries
------------------------------------------------------------ */

@media only screen and (orientation: landscape),
  only screen and (min-width: 641px) {
  .switch-bg {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
  }

  .switch-bg:after {
    inset: 0.115rem 0 0 0.115rem;
    width: 1.15rem;
    height: 1.15rem;
    border-radius: 1.15rem;
  }

  input:checked + .switch-bg:after {
    left: calc(100% - 0.115rem);
    transform: translateX(-105%);
  }
}

@media only screen and (orientation: landscape) and (min-width: 1921px) {
  .switch-bg {
    width: 3.75rem;
    height: 1.875rem;
    border-radius: 1.875rem;
  }

  .switch-bg:after {
    inset: 0.15rem 0 0 0.15rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 1.5rem;
  }
  input:checked + .switch-bg:after {
    left: calc(100% - 0.15rem);
    transform: translateX(-100%);
  }
}
