/* Global Styles
------------------------------------------------------------ */
header,
.centerColumn,
footer {
  width: 400px;
  max-width: 95%;
  margin: 0 auto;
}

ul {
  padding: 5px 40px;
  display: block;
}

h1 {
  /* margin: 5px 0px 0px 0px; */
  display: block;
}

h2,
.desc-project {
  padding: 5px 20px;
  display: block;
}

/* This gives every box with it round borders for a bubble-esque aesthetic. */
.round-box {
  padding: 0px;
  margin: 5px auto;
  border-radius: 10px;
  overflow: hidden;
}

/* The image banner of the project. Contains the toggle functionality for collapsible-box and active-box. This can be found in scripts/eventfunctions.js. */
.project-banner {
  position: relative;
  cursor: pointer;
}

/* Every project description should be 4 lines of text. Take the pixel height of one line multiplied by how many lines there are, and add the amount of one extra line to calculate the description-wrap*/
div.description-wrap {
  height: 90px;
}

/* Module to active-box. When an element has this class but not active box, it is essentially hidden from view. */
.collapsible-box {
  height: 0px;
  margin: -2.5px auto;
  transition: height 0.6s cubic-bezier(0.22, 1, 0.36, 1),
    margin 0.6s cubic-bezier(0.22, 1, 0.36, 1);
}

/* Module to collapsible-box. When a project banner is clicked on, this class is toggled to reveal what is hidden by collapsible-box */
/* Take the height of description wrap, add the height of the link text row, and add 5 pixels to calculate the active box */
.active-box {
  height: 119px;
  margin: 5px auto;
}

/* Absolute headings are for the headings in the upper left corner of a project banner */
.project-title {
  /* opacity: 0%; */
  margin: 5px;
  position: absolute;
  padding: 0px 5px;
  z-index: 3;
  max-height: 80px;
  /* transition: opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1); */
}

/* .active-title {
  opacity: 100%;
} */

/* Header
------------------------------------------------------------ */

header {
  top: 0;
  z-index: 5;
}

.menu {
  display: flex;
  flex-direction: row;
  padding: 5px auto;
}
/* update the spacing on this */

.menu .link {
  padding: 0px 0px 5px;
  margin: 0px auto;
  width: auto;
}

/* Body
------------------------------------------------------------ */

.lined-heading {
  padding: 5px 20px;
}

.flex-row {
  padding: 5px 20px;
  display: flex;
  flex-direction: row;
}

.dynamic-flex {
  padding: 5px 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flex-item {
  flex: 1 1 50%;
}

.lined-heading *,
.flex-item * {
  padding: 0;
  margin: 0;
}

.box {
  display: block;
}

ul.box {
  padding: 5px 20px;
}

hr {
  display: block;
  border-top: 1px solid;
  border-bottom: 0px solid;
  height: 1px;
}

/* Footer
------------------------------------------------------------ */
.copyright {
  padding: 25px 50px;
  display: block;
}

/* Media
------------------------------------------------------------ */
iframe {
  width: 100%;
  height: 100%;
  display: block;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.video {
  /* padding: 28.125% 0; */
  display: block;
  width: 100%;
  height: 100%;
  margin: 5px 0px;
}

.resume {
  width: 100%;
  position: relative;
  height: 521px;
}

/* Landscape settings
------------------------------------------------------------ */

/* 4/3 * original value */
@media only screen and (orientation: landscape),
  only screen and (min-width: 641px) {
  h1 {
    margin: 5px 0px;
    padding: 0px 20px;
  }

  header,
  .centerColumn,
  footer {
    width: 685px;
    max-width: 50%;
  }

  .nav-project .flex-item {
    flex: none;
  }

  .dynamic-flex {
    flex-direction: row;
  }

  div.description-wrap {
    height: 120px;
  }

  .active-box {
    height: 157px;
  }

  .resume {
    height: 947px;
  }
}

/* 5/3 * original value */
@media only screen and (min-width: 1921px) {
  header,
  .centerColumn,
  footer {
    width: 25%;
  }

  div.description-wrap {
    height: 160px;
  }

  .active-box {
    height: 200px;
  }
}
